.panel
  %h3 Pages Tree
  .panel_contents
    .attributes_table
      %table
        %tr
          %th Parent
          - if page.parent
            %td= link_to page.parent.title, "/admin/pages/#{page.parent.slug}", :class => "tree status_tag red"
          - else
            %td
              %span.status_tag.red No parent (top page)

        %tr
          %th Siblings
          %td= raw(page_siblings(page))
        %tr
          %th Re-order
          %td
            %div.tree= button_to("Move left", "/pages/move_left/"+page.id.to_s, :method => :post) unless page.left_sibling.nil?
            %div.tree= button_to("Move right", "/pages/move_right/"+page.id.to_s, :method => :post) unless page.right_sibling.nil?
        %tr  
          %th Children
          %td= raw(page_children(page))
          
          