%table.table.table-hover.table-condensed
  %thead
    %tr
      %th.online-hdg.center{:colspan => 4} ATC
    %tr
      %th{:colspan => 2} Position
      %th{:colspan => 2} Name (Rating)
  %tbody
    - for atc in @atc
      %tr
        %td= link_to atc.callsign, image_path("logo.png"), :class => "preview", :title => "#{atc.callsign} - #{atc.frequency} <br/> Online since: #{atc.online_since} <br /> Remark: #{atc.atis_message}"
        %td= atc.name + " (#{atc.rating})"
    %tr
      %th.online-hdg.center{:colspan => 4}= "Arrivals (#{@arrivals.count})"
    %tr
      %th Callsign
      %th A/C
      %th From
      %th To
    - for arrival in @arrivals
      %tr
        %td= link_to arrival.callsign, arrival.gcmap, :class => "preview", :title => "#{arrival.callsign} - #{arrival.name} <br /> #{arrival.aircraft} - #{arrival.groundspeed} kts - #{arrival.altitude} ft - sq #{arrival.transponder}"
        %td= arrival.aircraft
        %td= arrival.origin
        %td= arrival.destination
    %tr
      %th.online-hdg.center{:colspan => 4}= "Departures (#{@departures.count})"
    %tr
      %th Callsign
      %th A/C
      %th From
      %th To
    - for departure in @departures
      %tr
        %td= link_to departure.callsign, departure.gcmap, :class => "preview", :title => "#{departure.callsign} - #{departure.name} <br /> #{departure.aircraft} - #{departure.groundspeed} kts - #{departure.altitude} ft - sq #{departure.transponder}"
        %td= departure.aircraft
        %td= departure.origin
        %td= departure.destination
