#aboutus
  .container
    .section_header
      %h3.center.regular= "#{@airport.data.name} (#{@icao}) Airport Profile"
    .row
      .span6
        %h4 Map
        - cache("#{@icao}_map", :expires_in => 23.hours) do
          #mapap
          = render :partial => 'map_js'
        %h4 Metar
        - cache("#{@icao}_metar", :expires_in => 10.minutes) do
          .center
            %pre= @airport.icao.metar

        - cache("#{@icao}_airport_data", :expires_in => 30.minutes) do
          %h4 General details
          = render :partial => 'airport_data'

          %h4 Runways
          = render :partial => 'runways'

        %h4 Who's Online
        - cache("#{@icao}_who_online", :expires_in => 5.minutes) do
          = render :partial => 'who_online'

      .span6
        %h4 VFR Chart
        - cache("#{@icao}_vfr_chart", :expires_in => 22.hours) do
          = render :partial => 'skyvector'
        %h4 Charts
        - cache("#{@icao}_charts", :expires_in => 6.hours) do
          = render :partial => 'airport_charts'
        %h4 Notams
        - cache("#{@icao}_notams", :expires_in => 8.hours) do
          - for notam in @notams
            %pre.notam= notam



