%table.table.table-striped.table-hover.table-condensed.sortable
  %thead
    %tr
      %th ICAO
      %th IATA
      %th Name
  %tbody
    - for airport in @country.airports
      %tr
        %td= link_to airport.icao, "/airports/#{airport.icao}"
        %td= link_to airport.iata, "/airports/#{airport.icao}"
        %td= link_to airport.data.name.titlecase, "/airports/#{airport.icao}"
%p.note * Click on table headers to dynamically sort data
