#aboutus
  .container
    .section_header
      %h3.center.regular= @country.name + " (#{@country.subdivision.name})"
    .row
      .span3
        = render :partial => 'country_list'
      .span9
        .row
          .span5
            = image_tag "flags/#{@country.code.downcase}.png", :class => "big_flag"
            .justify
              = raw(@country.subdivision.introtext)
              .btn-group.vacc-links
                = link_to "vACC Website", @country.subdivision.website, :target => "_blank", :class => "btn btn-success"
                = link_to "Country Members", "http://api.vateud.net/countries/#{@country.code}", :target => "_blank", :class => "btn btn-info"
                = link_to "vACC Members", "http://api.vateud.net/members/#{@country.subdivision.code}", :target => "_blank", :class => "btn btn-success"
            .staff-lists
              %h3 vACC Staff
              - cache("#{@country.code}_staff_list", :expires_in => 20.minutes) do
                = render :partial => 'staff_list'
            .vacc-freqs
              %h3 Approved ATC frequencies
              - cache("#{@country.code}_atc_frequencies", :expires_in => 30.minutes) do
                = render :partial => 'atc_frequencies'

          .span4
            =image_tag "maps/#{@country.code.downcase}.gif", :class => "image_map"
            - cache("#{@country.code}_events_airports", :expires_in => 20.minutes) do
              .country-airports
                %h3 Country Airports
                = airports
              .country-events
                %h3 Upcoming Events
                = upcoming_events
              .country-events
                %h3 Previous Events
                = previous_events
