%div{:class => @page && @page.slug == "home" ? "navbar transparent navbar-inverse navbar-fixed-top" : "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
      <div class="eud-logo" data-no-turbolink>
      = link_to image_tag("eud_logo_small.png"), "/", :class => "brand"
      </div>

      .nav-collapse.collapse
        %ul.nav.pull-right
          <li data-no-turbolink>
          = link_to "HOME", root_url
          </li>
          %li= link_to "NEWS", :controller => "news"
          <li data-no-turbolink>
          = link_to "EVENTS", :controller => "events"
          </li>
          %li= link_to "COUNTRIES", :controller => "countries"
          - for page in @pages
            - if page.children.visible.in_menu.count > 0
              %li.dropdown{"data-no-turbolink" => true}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink>
                = page.name.upcase
                <b class="caret"></b>
                </a>
                %ul.dropdown-menu{"data-no-turbolink" => true}
                  - for child in page.children.visible.in_menu
                    %li= link_to child.name.upcase, child.url
            - elsif page.slug == "home"
              - next
            - else
              %li=link_to page.name.upcase, page.url
          %li.dropdown{"data-no-turbolink" => true}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink>
            SERVICES
            <b class="caret"></b>
            </a>
            %ul.dropdown-menu{"data-no-turbolink" => true}
              %li= link_to "VATEUD API", "http://api.vateud.net", :target => "_blank"
              <li><a href="http://tasks.vateud.net/" rel="tooltip-right" data-toggle="tooltip" title="For vACC Staff Members" target="_blank">TASKS AND WORKFLOW APPLICATION</a></li>
              %li= link_to "ATSIMTEST", "http://www.atsimtest.com", :target => "_blank"
              %li= link_to "PILOT TRAINING CENTRE", "http://ptd.vateud.net", :target => "_blank"
              %li= link_to "EXAM FLIGHT GROUP", "http://cpt.vateud.net", :target => "_blank"
              %li= link_to "OLD WEBSITE", "http://old.vateud.net", :target => "_blank"
          <li><a href="http://forum.vateud.net/" rel="tooltip" data-toggle="tooltip" title="For vACC Staff Members" target="_blank">FORUMS</a></li>

