!!! 5
%html
  %head
    %title VateudNet
    / <meta charset="UTF-8">   
    / <meta name="description" content="#{@pagedescription}" />
    / <meta name="keywords" content="#{@pagekeywords}" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = csrf_meta_tags

  %body.pull_top
    = render :partial => "menu_front"
    = render :partial => "slider"
    = render :partial => "about_us"
    
    = yield



