!!! 5
%html
  %head
    %title VateudNet
    / <meta charset="UTF-8">   
    / <meta name="description" content="#{@pagedescription}" />
    / <meta name="keywords" content="#{@pagekeywords}" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag    "application", :media => "all"
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    = csrf_meta_tags

  %body.pull_top
    = render :partial => "menu_front"
    = render :partial => "slider"
    = render :partial => "about_us"
    
    = yield

    = javascript_include_tag "application"




